@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto+Flex:wght@400;500&display=swap');


body {
  margin: 0;
  font-family: 'Roboto Slab';
  color: #313131;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
